* {
	box-sizing: border-box
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	font: 16px/1.5 sans-serif
}

header h4:before {
	display: inline-block;
	content: '';
	background: transparent url(../media/logo.svg) 0 0 no-repeat;
	margin-right: .6em;
	width: 45px;
	height: 45px;
	vertical-align: middle
}

header h4 {
	display: inline-block;
	margin: 0;
	font-size: .9rem;
	font-weight: 700
}

.live{
    margin: 0 20px;
}

.user-message {
	display: none;
	position: absolute;
	top: 30px;
	left: 50%;
	background-color: #333;
	color: #fff;
	padding: .5em;
	border-radius: 4px;
	font-size: 14px;
	opacity: 1;
	transition: opacity .5s;
	z-index: 4
}

.fade-in {
	animation: fadein .5s
}

.fade-out {
	animation: fadeout .5s
}

.hide {
	opacity: 0
}

.hidden {
	display: none
}

.show {
	display: block
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	padding: 0;
	border: 0
}

@media screen and (min-width:47.9375em) {
	header h4 {
		font-size: 1.1rem
	}

}

@media screen and (min-width:63.9375em) {
	header h4 {
		font-size: 1.4rem
	}

}

@keyframes fadein {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}

}

@keyframes fadeout {
	from {
		opacity: 1
	}

	to {
		opacity: 0
	}

}

.editor, .output {
	font-size: 14px
}

.editor {
	position: relative;
	margin-bottom: 1em
}

.output {
	position: relative;
	display: inline-block;
	background-color: #fff;
	margin: 0;
	padding: .8em;
	border: 1px solid #eaf2f4;
	box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, .1);
	width: 91%;
	height: 320px;
	font-family: courier
}

.output code {
	width: 100%;
	height: 300px;
	white-space: pre;
	vertical-align: middle;
	word-break: break-word;
	overflow-y: auto
}

.buttons-container {
	display: inline-block;
	width: 100px;
	vertical-align: top
}

.button {
    display: block;
    color: #fff;
    padding: 0.6em;
    border: none;
    width: 130px;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    outline: none;
    border-radius: 50em;
}

.button:nth-child(1) {
	margin-bottom: .5em;
	background: #243949;
	background-image: -webkit-linear-gradient(left, #243949 0%, #517fa4 100%);
	background-image: -o-linear-gradient(left, #243949 0%, #517fa4 100%);
	background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.button:nth-child(1):hover {
	color: #fff;
	background-image: -webkit-linear-gradient(left, #2272af 0%, #118df1 100%);
	background-image: -o-linear-gradient(left, #2272af 0%, #118df1 100%);
	background-image: linear-gradient(to right, #2272af 0%, #118df1 100%);
}

.button:nth-child(2) {
	background: #fc6076;
    background-image: -webkit-linear-gradient(290deg, #fb1132 0%, #fd7d10 100%);
    background-image: -o-linear-gradient(290deg, #fb1132 0%, #fd7d10 100%);
    background-image: linear-gradient(20deg, #fb1132 0%, #fd7d10 100%);
}

.button:nth-child(2):hover {
	color: #fff;
	background-image: -webkit-linear-gradient(290deg, #fc6076 0%, #ff9a44 100%);
	background-image: -o-linear-gradient(290deg, #fc6076 0%, #ff9a44 100%);
	background-image: linear-gradient(20deg, #fc6076 0%, #ff9a44 100%);

}

.js .editor {
	min-height: 280px
}

.CodeMirror {
	border: 2px solid #517fa4;
    border-left: 10px solid #517fa4;
    border-radius: 20px;
    height: 280px;
}

.js .editor.taller, .js .editor.taller .CodeMirror {
	height: 490px
}

.js .editor.shorter, .js .editor.shorter .CodeMirror {
	height: 200px;
	min-height: 200px
}

@supports (display:flex) {
	.buttons-container {
		align-self: flex-start;
		width: auto
	}

	.output-container {
		display: flex;
		align-items: center
	}

	.run {
		margin-right: 10px
	}

	.output {
		display: flex;
		flex: 10 150px;
		align-items: center
	}

}
